
<div class="container cv-section">

{{#if achievements}}
    {{#each achievements}}
        <div class="row">
    <div class="col-md-3">
        {{#if @first}}<h4>Professional Achievements</h4>{{/if}}
    </div>
    <div class="col-md-9">
        <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">{{name}} <small>{{company}} ({{date startDate format='MM/YYYY'}} - {{endDate}})</small></h3>
        </div>
        <div class="panel-body">
            {{{details}}}
            {{#if url}}
                <br/>See it here: <a href="{{url}}" target="_blank">{{url}}</a>
            {{/if}}
        </div>
        </div>
    </div>
</div>
    {{/each}}
{{else}}
<!-- else -->
<h3 class="text-muted">Could not find any achievements.</h3>
{{/if}}

</div>


