<div class="container">
<div class="row">
    <div class="col-md-3">
        Certifications
    </div>
    <div class="col-md-9">
        {{#if certifications}}
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                    <th>Name</th>
                    <th>Provider</th>
                    <th>Completed On</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each certifications}}
                    <tr>
                        <td>{{name}}</td>
                        <td><a href="{{providerUrl}}" target="_blank">{{provider}}</a></td>
                        <td>{{completedOn}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        
        {{else}}
            No certifications at this time.
        {{/if}}
    </div>
</div>
</div>